@font-face {
    font-family: 'Young Serif';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/YoungSerif-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Outfit-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Outfit-SemiBold.woff2') format('woff2');
}
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Outfit-Bold.woff2') format('woff2');
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

:root {
    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);

    --White: hsl(0, 0%, 100%);
    --Rose-white: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-grey: hsl(30, 18%, 87%);
    --Wenge-brown: hsl(30, 10%, 34%);
    --Dark-charcoal: hsl(24, 5%, 18%);

    --link-purple: hsl(228, 45%, 44%);

    --font-name-1: 'Young Serif', sans-serif;
    --font-name-2: 'Outfit', sans-serif;

    --fw-regular: 400;
    --fw-semiBold: 600;
    --fw-Bold: 700;
}

html, body {
    height: 100vh;
    background-color: var(--Eggshell);
}

body {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

main {
    flex: 1 0 auto;
    padding: 2rem;
}

footer {
    flex-shrink: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}


p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

.attribution {
    padding: 1rem;
    font-family: var(--font-name-2);
    font-size: 12px;
    text-align: center;
    animation: fade-in 1.5s ease-in;
}

.attribution a {
    font-weight: var(--fw-semiBold);
    color: var(--link-purple);
}

.border-bottom {
    border-bottom: 1px solid var(--Light-grey);
}

.recipe-card {
    width: 735px;
    height: auto;
    margin-top: 4rem;
    border-radius: 1.5rem;
    padding: 2.5rem;
    color: var(--Wenge-brown);
    background-color: var(--White);
    animation: fade-in 1.2s ease-in;
}

.img-container {
    border-radius: .75rem;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: auto;
}

.recipe-heading,
.recipe-sub-heading {
    font-family: var(--font-name-1);
}

.recipe-heading{
    color: var(--Dark-charcoal);
    font-size: 2.5rem;
    font-weight: var(--fw-regular);
}

.recipe-sub-heading,
.nutrition-value {
    font-weight: var(--fw-regular);
    color: var(--nutmeg);
}

.recipe-card p,
.recipe-card span,
.recipe-card ul li,
.recipe-card ol li {
    font-family: var(--font-name-2);
}

.recipe-card ul,
.recipe-card ol {
    padding-left: 1.2rem;
}

.recipe-card ul li,
.recipe-card ol li {
    padding-left: 1.5rem;
    line-height: 2;
}

.recipe-description {
    font-family: var(--font-name-2);
}

.recipe-card ul li::marker,
.recipe-card ol li::marker {
    color: var(--nutmeg);
}

.recipe-card ol li::marker {
    font-weight: var(--fw-semiBold);
}

.prep-container {
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: var(--Rose-white);
}

.prep-container h3 {
    color: var(--dark-raspberry);
    font-family: var(--font-name-2);
}

.prep-container ul li::marker {
    color: var(--dark-raspberry);
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 991px) {
    
}


@media only screen and (max-width: 677px) {
    main {
        padding: 0;
    }
    .recipe-card {
        width: 100%;
        height: auto;
        margin-top: 0;
        border-radius: 0;
        padding: 0;
        color: var(--Wenge-brown);
        background-color: var(--White);
        animation: fade-in 1.2s ease-in;
    }

    .recipe-card > div {
        padding: 0 2.5rem;
    }
    
    .recipe-card .img-container {
        padding: 0;
        border-radius: 0;
    }

    .recipe-heading{
        font-size: 2rem;
        line-height: 1;
    }

    .prep-container {
        margin: 2.5rem;
        padding: 1.2rem 1.5rem !important;
    }
}